body{
	background-color:#F8F9F9;
}

.thumbnail img{
	width:100%;
}

.thumbnail{
	padding: 0px;
}

.thumbnail .caption-full{
	padding: 9px;
}

.deleteForm{
	display: inline;
}

.existing-image{
	padding: 3px;
}